<section ng-controller="HomeController">
  <div class="content-block splash-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2>Post Your Startup Idea & Have the World’s Best Developers Bid on Building It</h2>
        </div>
        <div class="col-md-6 text-center">
          <div class="well-dark">
            <h4>Start building today</h4>
            <a class="btn btn-green btn-block" ui-sref="authentication.signup">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-block bg-black text-center">
    <div class="container">
      <h3>This ain’t just another job site.</h3>
      <p>
        We’ve worked hard to build a platform that lets any startup founder, entrepreneur and bootstrapper list their idea, find the best developer at the best deal who actually cares about building your startup.
      </p>
      <p>
        No other place lets you easily find developers not only willing to work for a little cash, but also some equity if they love your idea.
      </p>
    </div>
  </div>
</section>
