<section ng-controller="HomeController">
  <div class="splash-banner">
    <div class="container splash-container">
      <div class="row ">
        <div class="col-md-6 text-center">
          <h2>Post Your Startup Idea & Have the World’s Best Developers Bid on Building It</h2>
        </div>
        <div class="col-md-6 text-center">
          <div class="well-dark">
            <h2>Start building today</h2>
            <a class="btn btn-green btn-block" ui-sref="authentication.signup">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-black text-center">
    <h2>This ain’t just another job site.</h2>
    <p>
      We’ve worked hard to build a platform that lets any startup founder, entrepreneur and bootstrapper list their idea, find the best developer at the best deal who actually cares about building your startup.
    </p>
    <p>
      No other place lets you easily find developers not only willing to work for a little cash, but also some equity if they love your idea.
    </p>
  </div>
</section>
