<section data-ng-controller="ForumController" ng-init="find()">
  <div class="container">
    <div class="page-header">
      <h1 id="forum-header">Project Listings</h1>
    </div>
    <div class="list-group">
      <a ng-repeat="post in posts" class="list-group-item">
        <button ng-show="post.author._id === user._id" class="pull-right btn btn-danger" ng-click="delete(post)">X</button>
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
        <p class="list-group-item-text">
          {{ post.text }}
        </p>
        <small class="list-group-item-text">
          <span>{{ post.author.displayName }}</span><br>
          <span>{{ post.created_at }}</span>
        </small>
      </a>
    </div>
  </div>
</section>
